
$mobile-end: 568px;
$tablet-end: 768px;

body{
  background-image: url('../images/banner.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.test{
  color: green;
}

@media screen and (max-width: $mobile-end) {
  .test{
    color: red;
  }
}

@media screen and (max-width: $mobile-end) {
  .test{
    font-size: 60px;
  }
}
